<main>
  <div class="container pb-5">
    <div class="d-flex align-items-center justify-content-center overflow-hidden ">
      <div class="col-1 d-none d-sm-block">
        <img alt="" src="../../../assets/img/chay-1.png">
      </div>
      <div class="col-sm-6 col-0">
        <h2 class="text h1">Скидки на травяные чаи</h2>
        <p class="my-5">Узнай все подробности, заполнив заявку</p>
        <a class="btn btn-primary px-5" routerLink="/catalog">Заказать</a>
      </div>
      <div class="col-sm-5 col-0"></div>
    </div>
  </div>

  <div class="container pt-4 mb-4">
    <h2 class="text-center pb-4">
      Ответы на часто задаваемые вопросы
    </h2>


    <div id="accordion">
      <div class="accordion-item">
        <div class="accordion-header bg-primary rounded-2 text-white py-3 mt-3">
          Собираете ли вы подарочные боксы?
        </div>
        <div class="border-0 pb-0">
          <p>
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header bg-primary rounded-2 text-white py-3 mt-3">
          Сколько у вас разновидностей чая?
        </div>
        <div class="border-0 pb-0">
          <p>
            У нас в ассортименте более 50 видов чая. Вы можете найти как классические сорта, такие как зелёный, чёрный и
            улун, так и более редкие и эксклюзивные чаи, включая белый, пуэр и ароматизированные смеси. Также доступны
            чаи с добавками фруктов, трав и специй.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header bg-primary rounded-2 text-white py-3 mt-3">
          В какой срок осуществляется доставка?
        </div>
        <div class="border-0 pb-0">
          <p>
            Сроки доставки зависят от вашего местоположения и выбранного способа доставки. Обычно доставка по городу
            занимает 1-3 дня, по стране — 3-7 дней. Международная доставка может занять от 7 до 21 дней. Точные сроки
            доставки можно узнать при оформлении заказа, указав адрес доставки.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header bg-primary rounded-2 text-white py-3 mt-3">
          У вас обновляется ассортимент?
        </div>
        <div class="border-0 pb-0">
          <p>
            Да, наш ассортимент регулярно обновляется. Мы постоянно работаем над расширением нашего предложения,
            добавляя новые сорта чая и интересные смеси.
          </p>
          <p>
            Следите за нашими обновлениями на сайте и в социальных сетях, чтобы не пропустить новинки и специальные
            предложения.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header bg-primary rounded-2 text-white py-3 mt-3">
          Какого объема у вас пачки чая?
        </div>
        <div class="border-0 pb-0">
          <p>
            У нас есть разные размеры пачек чая: маленькие (от 25 г до 50 г), средние (от 100 г до 250 г) и большие (от
            500 г и более). Выбирайте в зависимости от своих предпочтений и потребностей!
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modal let-modal>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="modal-basic-title">
        Посмотрите наши чайные коллекции
      </h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      <img class="w-100" src="../../../assets/img/modal-image.png" alt="">
    </div>
    <div class="modal-footer">
      <a data-bs-dismiss="modal" routerLink="/catalog" class="btn btn-primary" (click)="modal.close()">
        Смотреть
      </a>
    </div>
  </ng-template>

</main>

